<div id="loginPage">
    <div id="loginContent">
        <div id="loginBox">
            <img src="/javascript/app/images/yeti_icon_only.svg" id="yetiIconLg">

            <md-content>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="inputUser">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="inputPassword" type="password">
                </md-input-container>
                <md-button class="md-primary md-raised" ng-click="loginSubmit()">Login</md-button>
                <div id="loginError">
                    {{loginError.message}}
                </div>
            </md-content>
        </div>
    </div>
</div>