extends layout

include mixins/blogPost
include mixins/regularContent
include mixins/paging
include mixins/diqus

block content
    head
        title=title
        meta(name="viewport", content="width=device-width", initial-scale=1)
        != styleContent

    body
        div#content
            each item in bodyContent
                if item.posts
                    +blog(item.settings, item.posts, item.paging)
                else
                    +regularContent(item.content)

            != scriptsContent