mixin paging(paging)
    - var i = 1
    - var currentPage = +paging.current
    div.post-page
        if !paging.category && !paging.author && !paging.post
            if (currentPage - 1) > 0
                !='<a class="post-page-arrow" href="?action=blog&page=' + (currentPage - 1) + '"><</a>'
            else
                | <
            while i <= paging.pages
                - var isCurrent = currentPage === +i
                span.post-page-number
                    if isCurrent
                        =i++
                    else
                        !='<a href="?action=blog&page=' + i + '">' + i++ + '</a>'
            if (currentPage + 1) <= +paging.pages
                !='<a class="post-page-arrow" href="?action=blog&page=' + (currentPage + 1) + '">></a>'
            else
                | >
