<div id="<%= blockId %>" class="blockContent" draggable="true" onDragStart="dragStart(this, event)" onDrop="dragDrop(this, event)" onDragOver="dragOver(this, event)" onDragLeave="dragLeave(this, event)">
    <%= blockContent %>
    <div class="blockControlBox">
        <i class="block-button btn fa fa-pencil fa-4x" onclick="editBlock('<%= blockId %>')"></i>
        <i class="block-button btn fa fa-trash-o fa-4x" onclick="deleteBlock('<%= blockId %>')"></i>
        <div class="block-title"><%= blockTitle %></div>
    </div>
</div>
