<div id="loginPage">
    <div id="loginContent">
        <div id="loginBox">
            <img src="images/yeti_icon_only.svg" id="yetiIconLg">

            <form (ngSubmit)="login()" class="form-horizontal">
                <input #userName [(ngModel)]="model.userName" class="form-control" id="userName" placeholder="User Name">
                <input #password [(ngModel)]="model.password" class="form-control" id="password" type="password" placeholder="Password">
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
</div>