@import colors
@import fonts
@import spacing

body
  background-color bgColor
  font paragraphLight
  margin-top menuHeight + menuPadding + pagePaddingTop

a
  color foreColor
  text-decoration none
  &:hover
    color foreColorLt

ul
  list-style-type none
  li
    text-indent -10px
    &:before
      content '-'
      text-indent -10px

@import menuBar

